In [15]:
import pandas as pd

In [16]:
df=pd.read_excel('../data/superstore.xls')

In [19]:
df=df.set_index(['Customer Name','Order Date']).sort_index(level=0)
#making index two columns, not one 
#order which you list the columns matters 


#Because there are merged columns (aaron bergman); this is called panel data
#so, we treat each of these as their own data set
#customer level data sets

In [25]:
#we cannot just shift up and analyze each customer 
#individuals have their own buying patterns 
#.shift(), then, does not work

#LEVEL 0 = NAMES 
#LEVEL 1 = ORDER DATE, AND ALL OF THE COLUMNS ON THE SAME LEVEL 

df['Sales'].shift().head(10)

Customer Name  Order Date
Aaron Bergman  2014-02-18        NaN
               2014-03-07     12.624
               2014-03-07     48.712
               2014-03-07     17.940
               2016-11-10    242.940
               2016-11-10    221.980
Aaron Hawkins  2014-04-22    341.960
               2014-04-22    247.840
               2014-05-13      9.912
               2014-05-13    279.456
Name: Sales, dtype: float64

In [31]:
(df['Sales'] - df['Sales'].mean()).mean() #close to 0

4.593916868551246e-12

In [32]:
df['Sales'].sum(level=0) #level=0 means its the first level in the hierarchy, which is by custoemr

Customer Name
Aaron Bergman          886.156
Aaron Hawkins         1744.700
Aaron Smayling        3050.692
Adam Bellavance       7755.620
Adam Hart             3250.337
                        ...
Xylona Preis          2374.658
Yana Sorensen         6720.444
Yoseph Carroll        5454.350
Zuschuss Carroll      8025.707
Zuschuss Donatelli    1493.944
Name: Sales, Length: 793, dtype: float64

In [33]:
df['Sales']-df['Sales'].sum(level=0) #

Customer Name       Order Date
Aaron Bergman       2014-02-18    -873.532
                    2014-03-07    -837.444
                    2014-03-07    -868.216
                    2014-03-07    -643.216
                    2016-11-10    -664.176
                                    ...
Zuschuss Donatelli  2016-04-03   -1233.984
                    2016-05-05   -1477.224
                    2016-07-08    -669.984
                    2016-07-08   -1477.960
                    2017-06-11   -1432.504
Name: Sales, Length: 9994, dtype: float64

In [35]:
df['Sales'].mean(level=0) #mean of every customer

Customer Name
Aaron Bergman         147.692667
Aaron Hawkins         158.609091
Aaron Smayling        305.069200
Adam Bellavance       430.867778
Adam Hart             162.516850
                         ...
Xylona Preis           84.809214
Yana Sorensen         560.037000
Yoseph Carroll        681.793750
Zuschuss Carroll      258.893774
Zuschuss Donatelli    165.993778
Name: Sales, Length: 793, dtype: float64

In [36]:
df['Sales'] - df['Sales'].mean(level=0) #taking every sales # with the mean of each person's sales. 
#each customer, each sale they make, minus the average value of all of their purchases.

Customer Name       Order Date
Aaron Bergman       2014-02-18   -135.068667
                    2014-03-07    -98.980667
                    2014-03-07   -129.752667
                    2014-03-07     95.247333
                    2016-11-10     74.287333
                                     ...
Zuschuss Donatelli  2016-04-03     93.966222
                    2016-05-05   -149.273778
                    2016-07-08    657.966222
                    2016-07-08   -150.009778
                    2017-06-11   -104.553778
Name: Sales, Length: 9994, dtype: float64

In [51]:
#most functions DO NOT ACCEPT level as an argument
df.head(10)['Sales'].pct_change() #will not represent customer level growth

Customer Name  Order Date
Aaron Bergman  2014-02-18          NaN
               2014-03-07     2.858682
               2014-03-07    -0.631713
               2014-03-07    12.541806
               2016-11-10    -0.086276
               2016-11-10     0.540499
Aaron Hawkins  2014-04-22    -0.275237
               2014-04-22    -0.960006
               2014-05-13    27.193705
               2014-05-13    -0.971373
Name: Sales, dtype: float64

In [54]:
#groupby, however, does take level as an argument, so we can group by cust first 
#and then find the %change within each customer dataset
df.groupby(level=0)['Sales'].pct_change().head(10)

Customer Name  Order Date
Aaron Bergman  2014-02-18          NaN
               2014-03-07     2.858682
               2014-03-07    -0.631713
               2014-03-07    12.541806
               2016-11-10    -0.086276
               2016-11-10     0.540499
Aaron Hawkins  2014-04-22          NaN
               2014-04-22    -0.960006
               2014-05-13    27.193705
               2014-05-13    -0.971373
Name: Sales, dtype: float64

In [56]:
df.reset_index() #will go back to original dataset

,Customer Name,Order Date,Row ID,Order ID,Ship Date,Ship Mode,Customer ID,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,Aaron Bergman,2014-02-18,8223,CA-2014-152905,2014-02-24,Standard Class,AB-10015,Consumer,United States,Arlington,...,76017,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248
1,Aaron Bergman,2014-03-07,4962,CA-2014-156587,2014-03-08,First Class,AB-10015,Consumer,United States,Seattle,...,98103,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
2,Aaron Bergman,2014-03-07,4963,CA-2014-156587,2014-03-08,First Class,AB-10015,Consumer,United States,Seattle,...,98103,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644
3,Aaron Bergman,2014-03-07,4964,CA-2014-156587,2014-03-08,First Class,AB-10015,Consumer,United States,Seattle,...,98103,West,OFF-ST-10002344,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940,3,0.0,4.8588
4,Aaron Bergman,2016-11-10,8802,CA-2016-140935,2016-11-12,First Class,AB-10015,Consumer,United States,Oklahoma City,...,73120,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Zuschuss Donatelli,2016-04-03,5899,CA-2016-167682,2016-04-09,Standard Class,ZD-21925,Consumer,United States,Richmond,...,47374,Central,TEC-PH-10000673,Technology,Phones,Plantronics Voyager Pro HD - Bluetooth Headset,259.960,4,0.0,124.7808
9990,Zuschuss Donatelli,2016-05-05,3041,US-2016-147991,2016-05-09,Standard Class,ZD-21925,Consumer,United States,Chattanooga,...,37421,South,FUR-FU-10004270,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440
9991,Zuschuss Donatelli,2016-07-08,3815,CA-2016-152471,2016-07-08,Same Day,ZD-21925,Consumer,United States,Jacksonville,...,32216,South,TEC-PH-10002824,Technology,Phones,Jabra SPEAK 410 Multidevice Speakerphone,823.960,5,0.2,51.4975
9992,Zuschuss Donatelli,2016-07-08,3816,CA-2016-152471,2016-07-08,Same Day,ZD-21925,Consumer,United States,Jacksonville,...,32216,South,OFF-PA-10004965,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950
9993,Zuschuss Donatelli,2017-06-11,8342,CA-2017-141481,2017-06-14,First Class,ZD-21925,Consumer,United States,Los Angeles,...,90036,West,OFF-AP-10004532,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888